In [1]:
import pandas as pd
import numpy as np

In [2]:
json_import = pd.read_json("contacts.json")

In [65]:
df_test = json_import[1:10000]

In [135]:
df_test

,Id,Email,Phone,Contacts,OrderId
1,1,,329442681752,4,vDDJJcxfLtSfkooPhbYnJdxov
2,2,,9125983679,0,
3,3,mdllpYmE@gmail.com,,0,bHquEnCbbsGLqllwryxPsNOxa
4,4,,300364407,2,
5,5,,840113148,0,
...,...,...,...,...,...
9995,9995,vrSUyhNUQoVHPO@gmail.com,,0,svFpWPLlHXetXPjAqTkLsLVaq
9996,9996,nSqFwZn@qq.com,,4,nNvrhaEkuLxVrClyNkXiipCwr
9997,9997,PjBBLzvNkDLPN@yahoo.com,,3,
9998,9998,GTFceRhHIYqJ@qq.com,,3,KwVMMxHFqnoWryyHjUtAYHkGe
9999,9999,,807761303,0,

In [67]:
df_Email = df_test[["Id", "Email", "Phone","OrderId"]]

In [68]:
merged1 = df_Email.groupby(['Email']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [19]:
merged2 = df_Email.groupby(['Phone']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [20]:
merged3 = df_Email.groupby(['OrderId']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [69]:
have_email = merged1[1:-1]

In [70]:
email_null = df_test.replace(r'^\s*$', np.nan, regex=True)

In [71]:
email_null = email_null[email_null['Email'].isnull()]

In [72]:
email_null = email_null[["Email", "Id", "Phone", "OrderId"]]

In [73]:
email_null

     Email    Id         Phone                    OrderId
1      NaN     1  329442681752  vDDJJcxfLtSfkooPhbYnJdxov
2      NaN     2    9125983679                        NaN
4      NaN     4     300364407                        NaN
5      NaN     5     840113148                        NaN
10     NaN    10  918973512631  OHRFAXqbAzyxljoUDaOErwtrg
...    ...   ...           ...                        ...
9989   NaN  9989  536621787271  tCmETMOpjzdMJNVHYklOIZiGj
9990   NaN  9990  478313249754                        NaN
9991   NaN  9991   45105742361  FIxYlBwvsnCwyJKovHcvXPJUa
9993   NaN  9993  356613317580                        NaN
9999   NaN  9999     807761303                        NaN

[3077 rows x 4 columns]

In [75]:
have_email = have_email.explode("Phone")

In [77]:
merge2 = pd.concat([email_null, have_email], axis=0)

In [79]:
merge2

,Email,Id,Phone,OrderId
1,NaN,1,329442681752,vDDJJcxfLtSfkooPhbYnJdxov
2,NaN,2,9125983679,NaN
4,NaN,4,300364407,NaN
5,NaN,5,840113148,NaN
10,NaN,10,918973512631,OHRFAXqbAzyxljoUDaOErwtrg
...,...,...,...,...
6784,zxpMpYtCParjWasGhs@hotmail.com,[2772],,[OrCwnccDrznKNljvpoPebkaxK]
6785,zyMTyHGdbPDnTZBTlHx@gmail.com,[3588],,[]
6786,zyeeyMhS@hotmail.com,[4031],,[eGSnLBFJqASPCcZrMJvARbDpW]
6787,zymlsmoKDTza@hotmail.com,[1505],15162244933,[]
6788,zyqQouxLbow@gmail.com,[1474],,[FmmWsBezhHsfPXkElUmFqNOEq]

In [80]:
merge3 = merge2.groupby(['Phone']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [93]:
merge3 = merge3.explode("OrderId").explode("OrderId")

In [134]:
merge3.to_csv("find.csv")

In [84]:
phone_null = df_test.replace(r'^\s*$', np.nan, regex=True)[df_test.replace(r'^\s*$', np.nan, regex=True)['Phone'].isnull()]

In [85]:
phone_null

,Id,Email,Phone,Contacts,OrderId
3,3,mdllpYmE@gmail.com,NaN,0,bHquEnCbbsGLqllwryxPsNOxa
6,6,hESiBgYTxMnj@hotmail.com,NaN,4,NaN
7,7,hqyunTiaXfIjhO@yahoo.com,NaN,1,vxjYZtMUvNhtEBDruzQfjpsmX
9,9,osIIQgAiZX@hotmail.com,NaN,0,IqewrMXVTJqSsVklWFfOpdRNI
11,11,QRamvop@qq.com,NaN,0,NaN
...,...,...,...,...,...
9994,9994,aKDQFSTyrxggGeA@hotmail.com,NaN,2,NaN
9995,9995,vrSUyhNUQoVHPO@gmail.com,NaN,0,svFpWPLlHXetXPjAqTkLsLVaq
9996,9996,nSqFwZn@qq.com,NaN,4,nNvrhaEkuLxVrClyNkXiipCwr
9997,9997,PjBBLzvNkDLPN@yahoo.com,NaN,3,NaN
9998,9998,GTFceRhHIYqJ@qq.com,NaN,3,KwVMMxHFqnoWryyHjUtAYHkGe

In [95]:
merge4 = pd.concat([phone_null, merge3], axis=0)

In [104]:
merge5 = merge4.groupby(['OrderId']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [126]:
listed = merge5.iloc[0]["Id"]

In [131]:
listed_df = pd.DataFrame(listed, columns=["Ids", "Ids2", "Ids3"])

In [133]:
listed_df.to_csv("ids.csv")

In [49]:
merged3.to_csv("try3.csv")

In [68]:
merged5 = merged4.replace(r'^\s*$', np.nan, regex=True).groupby(['OrderId']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [69]:
merged5.to_csv("happy.csv")

In [253]:
test

    Id  Email Phone OrderId
0    A  gmail   376
1    B  gmail           ION
2    C          376     ION
3    D  gmail
4    E          376
5    F          NaN     ION
6   A2  yahoo
7   A3  yahoo   972
8   A4          972
9   G2                  POP
10  G3                  POP
11  P1          788
12  P2          788

In [293]:
test = pd.read_csv("Book1.csv")

In [298]:
test1 = test.groupby(['Email']).agg(lambda x: tuple(x)).reset_index()

In [302]:
test1.Phone

0    (376, 376, nan, 972,  ,  , 788, 788)
1                             (376,  ,  )
2                                ( , 972)
Name: Phone, dtype: object

In [240]:
test1 = test1.iloc[1:len(test1)].explode("Phone")

In [254]:
null_email = test[test['Email'].eq(" ")]

In [255]:
null_email

    Id Email Phone OrderId
2    C         376     ION
4    E         376
5    F         NaN     ION
8   A4         972
9   G2                 POP
10  G3                 POP
11  P1         788
12  P2         788

In [256]:
test2 = pd.concat([null_email, test1], axis=0)

In [257]:
test2

           Id  Email Phone      OrderId
2           C          376          ION
4           E          376
5           F          NaN          ION
8          A4          972
9          G2                       POP
10         G3                       POP
11         P1          788
12         P2          788
1   [A, B, D]  gmail   376  [ , ION,  ]
1   [A, B, D]  gmail        [ , ION,  ]
1   [A, B, D]  gmail        [ , ION,  ]
2    [A2, A3]  yahoo             [ ,  ]
2    [A2, A3]  yahoo   972       [ ,  ]

In [261]:
test3 = test2.groupby(['Phone']).agg(lambda x: tuple(x)).applymap(list).reset_index()

In [290]:
test3

,Phone,Id,Email,OrderId
0,,"[G2, G3, [A, B, D], [A, B, D], [A2, A3]]","[ , , gmail, gmail, yahoo]","[POP, POP, [ , ION, ], [ , ION, ], [ , ]]"
1,376,"[C, E, [A, B, D]]","[ , , gmail]","[ION, , [ , ION, ]]"
2,788,"[P1, P2]","[ , ]","[ , ]"
3,972,"[A4, [A2, A3]]","[ , yahoo]","[ , [ , ]]"

In [291]:
test4 = test3.iloc[1:len(test3)].explode("OrderId").explode("OrderId")

In [292]:
test4

  Phone                 Id          Email OrderId
1   376  [C, E, [A, B, D]]  [ ,  , gmail]     ION
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
1   376  [C, E, [A, B, D]]  [ ,  , gmail]     ION
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
2   788           [P1, P2]         [ ,  ]
2   788           [P1, P2]         [ ,  ]
3   972     [A4, [A2, A3]]     [ , yahoo]
3   972     [A4, [A2, A3]]     [ , yahoo]
3   972     [A4, [A2, A3]]     [ , yahoo]

In [275]:
null_phone = test[test['Phone'].eq(" ")]

In [276]:
test5 = pd.concat([test4, null_phone], axis=0)

In [287]:
test6 = test5.groupby(['OrderId']).agg('')

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [288]:
test5

   Phone                 Id          Email OrderId
1    376  [C, E, [A, B, D]]  [ ,  , gmail]     ION
1    376  [C, E, [A, B, D]]  [ ,  , gmail]
1    376  [C, E, [A, B, D]]  [ ,  , gmail]
1    376  [C, E, [A, B, D]]  [ ,  , gmail]     ION
1    376  [C, E, [A, B, D]]  [ ,  , gmail]
2    788           [P1, P2]         [ ,  ]
2    788           [P1, P2]         [ ,  ]
3    972     [A4, [A2, A3]]     [ , yahoo]
3    972     [A4, [A2, A3]]     [ , yahoo]
3    972     [A4, [A2, A3]]     [ , yahoo]
1                         B          gmail     ION
3                         D          gmail
6                        A2          yahoo
9                        G2                    POP
10                       G3                    POP

In [284]:
test5[test5['OrderId'].eq(" ")]

  Phone                 Id          Email OrderId
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
1   376  [C, E, [A, B, D]]  [ ,  , gmail]
2   788           [P1, P2]         [ ,  ]
2   788           [P1, P2]         [ ,  ]
3   972     [A4, [A2, A3]]     [ , yahoo]
3   972     [A4, [A2, A3]]     [ , yahoo]
3   972     [A4, [A2, A3]]     [ , yahoo]
3                        D          gmail
6                       A2          yahoo

In [278]:
null_phone = test[test['Phone'].isnull()]

In [221]:
test3 = test3.explode("OrderId").explode("OrderId")

In [224]:
test4.groupby(['OrderId']).agg(lambda x: tuple(x)).applymap(list).reset_index()

,OrderId,Phone,Id,Email
0,,"[ , , , , , , , , , , , , , , 376...","[[[C, E, F, A4, G2, G3, P1, P2], [C, E, F, A4,...","[[ , , gmail, gmail, yahoo], [ , , gmail, gm..."
1,ION,"[ , , , , , , 376, 376, 376, 376, 376, 78...","[[[C, E, F, A4, G2, G3, P1, P2], [C, E, F, A4,...","[[ , , gmail, gmail, yahoo], [ , , gmail, gm..."
2,POP,"[ , , , , 376, 376, 376, 376, 788, 788, 788...","[[[C, E, F, A4, G2, G3, P1, P2], [C, E, F, A4,...","[[ , , gmail, gmail, yahoo], [ , , gmail, gm..."

In [207]:
test5 = test3[test3['OrderId'].isnull()]

In [213]:
test.groupby(['Email']).agg(lambda x: tuple(x)).applymap(list).reset_index()

   Email         Id              Phone          OrderId
0  gmail  [A, B, D]  [376.0, nan, nan]  [nan, ION, nan]
1  yahoo   [A2, A3]       [nan, 972.0]       [nan, nan]