In [1]:
import pandas as pd

In [5]:
groups = pd.read_csv("groups.csv")

In [28]:
new = groups["Names"].str.split("(", n = 1, expand = True)

In [29]:
new[0] = new[0].str.replace('\d+', '').str.replace('.','')
new[1] = new[1].str.replace(')', "")

In [32]:
import googlemaps
gmaps = googlemaps.Client(key='AIzaSyDmTh_LFt4SqVslqiwo3pFw8tMaAta6p0k')

In [59]:
directions_result = gmaps.directions("Woodlands MRT",
                                     "Bishan MRT",
                                     mode = "transit")

In [60]:
directions_result[0]['legs'][0]['duration']['text']

'29 mins'

In [104]:
new

              0                       1
0       Leslie          Habourfront MRT
1         Ruth        Tampines East MRT
2          Nat               Changi MRT
3      Michael            Kembangan MRT
4        Kaili               Yishun MRT
5       Raeann           Woodlands  MRT
6      Natalie          Woodlands   MRT
7       Sen Ji   Newton/Bukit Timah MRT
8         Anna         sixth avenue MRT
9         Marc         beauty world MRT
10     Johanna        Bukit gombak  MRT
11         Ben         HarbourFront MRT
12     Gabriel        Tampines East MRT
13        Coco       Tampines East  MRT
14   Josephine             Somerset MRT
15       Evita             Somerset MRT
16        Zach            Woodlands MRT
17         Vin        Tanjong Pagar MRT
18     Tierney                Dhoby MRT
19      Joanne             Boon Lay MRT
20       brian             lavender MRT
21         zoe            canberra  MRT
22       Chloe           ang mo kio MRT
23       Julia         Clarke Quay  MRT

In [63]:
houses = ['Sommerset MRT', 'Serangoon MRT', 'Simei MRT', 'Holland Village MRT']

In [106]:
housename = []
housetime = []

In [107]:
for i,d in enumerate(houses):
    for u in range(0,len(new)):
        startpoint = new[1][u]
        endpoint = houses[i]
        directions_result = gmaps.directions(startpoint,
                                     endpoint,
                                     mode = "transit")
        time = directions_result[0]['legs'][0]['duration']['text']
        housename.append(endpoint)
        housetime.append(time)

In [109]:
def chunks(lst, n):
    """Yield successive n-sized chunks from lst."""
    for i in range(0, len(lst), n):
        yield lst[i:i + n]

In [115]:
new["Evita"] = list(chunks(housetime, 24))[0]
new["Keon"] = list(chunks(housetime, 24))[1]
new["Dan"] = list(chunks(housetime, 24))[2]
new["Ash"] = list(chunks(housetime, 24))[3]

In [118]:
new.to_csv("allocation.csv")